
  /* ------------------------body так сказать------------------ */
* 
{
  margin: 0;
  padding: 0;
  
}

div.container{
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
}
img{
  width: 100%;
  height: auto;
}

.site{
  margin: auto 25px;
}

h1 {
  font-family: 'Lobster', cursive;
  color: green;
}

p{
font-family: 'Lobster', cursive;
}
.tom{
  text-align: center;
  font-size: 30px;
  color: dimgrey;
}
h2{
font-family: 'Pangolin', cursive;
text-align: center;
}
/* ------------------------/body так сказать------------------ */

/* ---------------------сылки----------------- */
.lili,li,a{
   text-align:center;
  color: orangered;
  display: inline;
}


.lili a:hover{
  background:rgb(0, 178, 0);
  color:black;
}
/* ---------------------/сылки----------------- */


/* ---------------------карусель----------------- */
.carousel{
    
  width: 96%;
  max-width: 960px;
  margin: 20px auto;
  
}

.carousel h5 {
  
 font-size: 30px;
}

.carousel p{
  
  font-size: 20px;
}
/* ---------------------/карусель----------------- */


/* ---------------------карточки----------------- */
.t3d{
	width: 300px;
	height: 400px;
	margin: 50px auto;
	perspective: 1200px;
}

.t3d:hover > .rotate{
	transform: rotateY(180deg);
}

.rotate{
	position: relative;
	transform-style: preserve-3d;
	transition: .5s;
}

.text{
	position: absolute;
	top: 0;
	left: 0;
	transform: rotateY(180deg);
}

.pd{
	padding: 20px;
}

.t3d,.rotate img{
	vertical-align: middle;
}

.t3d,.rotate img, .text{
	border: 4px  #ccc;
	width: 300px;
	height: 400px;
	background: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
/* ---------------------/карточки----------------- */